body {
    background-color: seagreen;
    color:white;
}
.container {

    width: 60%;
    margin-left: auto;
    margin-right: auto
}

textarea {
    font-size: 30px;
}
.player {
    display: inline-block;
    list-style:none;
    width: 150px;
    height: 100px;
    background-color: red;
    margin: 10px;
}
ul textarea {
    display: block;
    width: 100px;
}

.item5 {
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.item4,.item3 {
        cursor: pointer;
    padding: 15px;
}